html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  text-align: center;
}

.dish-image {
  display: block;
  width: 60%;
  height: auto;
  margin: 0 auto;
}

.paragraph {
  width: 75%;
  margin: 0 auto;
  padding: 1em 5em;
  border: 2px solid black;
}

.list {
  width: 75%;
  margin: 0 auto;
  padding: 1em 5em;
  border: 1px solid black;
}